<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">List of Cars</h4>
    </div>

    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Driver name</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>

        </table>
    </div>
</section>